<div class="modal js-modal-backdrop">
  <div class="modal__content js-modal-window ">
    <button class="modal__close-btn js-modal-close-button" type="button"></button>
    <div class="modal-product js-modal-product"></div>
    <div class="modal-product__actions">
      <button class="modal-product__btn modal-product__btn--wishlist" type="button">
        Add to Wishlist
      </button>
      <button class="modal-product__btn modal-product__btn--cart" type="button">
        Add to Cart
      </button>
    </div>
  </div>
</div>