.back-to-top {
    display: none;

    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 16px 16px;

    color: white;
    font-weight: 600;

    border: none;
    border-radius: 30px;
    background: #ff6b0a;
    cursor: pointer;
    transition: all 0.3s ease;


    &:hover,
    &:focus {
        background-color: #e05a00;
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(255, 107, 10, 0.3);
    }

    &:active {
        transform: scale(0.95);
    }

    &.show {
        display: block;
    }
}

.back-to-top-icon {
    font-size: 20px;
}